config/logs/*
node_modules
config/database.js
config/secret.js
package-lock.json
*-audit.json
docker-compose.yaml
Dockerfile
config/instantclient_19_8
.DS_STORE
config/logs
config/logs/2023-02-23.log
config/logs/error/2023-02-23.error.log
