name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: centos-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install NodeJS
      uses: actions/setup-node@v2
      with:
        node-version: 16
    
    - name: Code Checkout
      uses: actions/checkout@v2

    - name: Install Dependencies
      run: npm ci

    - name: Code Linting
      run: npm run lint
   
    - name: Run Test
      run: npm run test

    - name: Display coverage
      uses: dkershner6/jest-coverage-commenter-action@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
